* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  width: 400px;
  /* center the app horizontally  */
  /* margin-inline: auto; */
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 20px;
}

.App-header {
  margin-bottom: 10px;
  font-weight: 700;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App .form-group:not(:last-child) {
  margin-bottom: 10px;
}

.App .form-control {
  padding: 10px 20px;
  border-radius: 10px;
}

button {
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}
